


.modal {
  /*display: none; */
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.mostrar{
    display: flex;
}

#modal-content {
    background-color: #D3D3D3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 101;
    border-radius: 5px;
    width: 35vw;
    min-width: 300px;
    height: 35vh;
    position: relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}
#modal-content div h1 {
    margin: 2%;
    width: 285px;
    font-size: 35px;
    text-align: center;
    
}



#form-ingresso {
    display: flex;
    align-items: center;
    height: 13vh;
}

#form-reservar-ingresso {
    height: 90px;
}

#form-reservar-ingresso .input {
    margin: 3% 0;
    width: 250px;
    text-align: center;

}

#form-reservar-ingresso .input input {
    width: 250px;

}

#container-btn{
    display: flex;
    
}

#link-reservar  {
    background-color: #C2185B;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    border: solid 1px;
    border-radius: 5px;
    padding: 10px 30px;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.btn-fechar {
    position: absolute;
    top: -10px;
    right: -10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    font-size: 1em;
    
}